# Python cache
__pycache__/
*.py[cod]
*$py.class

# Excel files (Datasets and Generated Results)
*_highlighted.xlsx
next_podiums.xlsx
.~lock.*

# Execution Logs
result.md

# Virtual Environments
venv/
.gitignore
historical_highlight.xlsx
__pycache__/main.cpython-314.pyc
family.xlsx
